@import '../../styles/variables.scss';

.notice-card {
  .notice-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $spacing-lg 0;
  }

  .notice-text {
    margin-left: $spacing-sm;
    font-size: $font-size-sm;
    color: $text-tertiary;
  }
}
